<?xml version="1.0"?>
{{ ansible_managed | comment('xml') }}
<clickhouse>
  <remote_servers>
{% for clusters_name, shards_name in clickhouse_clusters.items() | list %}
    <{{ clusters_name }}>
{% if clickhouse_distributed_secret is defined %}
        <secret>{{ clickhouse_distributed_secret }}</secret>
{% endif %}
        <shard>
          <internal_replication>true</internal_replication>
{% for shard_name, hosts in shards_name.items() | list %}      
{% for host, replicas in hosts.items() %}
{% for replica in replicas %}
          <replica>
            <host>{{ replica.hosts['host'] }}</host>
            <port>{{ replica.hosts['port'] | default(9000) }}</port>
{% if 'secure' in replica %}
            <secure>1</secure>
{% endif %}
          </replica>
{% endfor %}
{% endfor %}
      </shard>
{% endfor %}      
    </{{ clusters_name }}>
{% endfor %}
  </remote_servers>
</clickhouse>